@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans+JP:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Mochiy+Pop+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=M+PLUS+Rounded+1c&family=Mochiy+Pop+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Kiwi+Maru&family=M+PLUS+Rounded+1c&family=Mochiy+Pop+One&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root,
    html[data-theme="light"] {
  background-color: #f3f3f3;
}

html[data-theme="light"] .text-color {
  color: #000000;
}

.visible{
  visibility: visible;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-0{
  margin-bottom: 0px;
}

.mb-4{
  margin-bottom: 1rem;
}

.ml-auto{
  margin-left: auto;
}

.mt-2{
  margin-top: 0.5rem;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.h-10{
  height: 2.5rem;
}

.min-h-screen{
  min-height: 100vh;
}

.w-10{
  width: 2.5rem;
}

.grow{
  flex-grow: 1;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-center{
  justify-content: center;
}

.gap-3{
  gap: 0.75rem;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.p-2{
  padding: 0.5rem;
}

.text-start{
  text-align: start;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.leading-none{
  line-height: 1;
}

.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

html, body {
  overscroll-behavior-y: none;
}

.inter {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}

.kaisei-opti-regular {
  font-family: "Kaisei Opti", serif;
  font-weight: 400;
  font-style: normal;
}

.back-blur {
  /*-webkit-text-stroke: 0px #ffffff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #fff;
  */
}

.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 0px #ffffff;
  text-shadow:0px 0px 10px #ffffff;
}

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 0px #ffffff;
  text-shadow:0px 0px 10px #ffffff;
}

.position {
  position: sticky;
  top: 0;
  z-index: 100000;
}

.header_bcolor {
  background-color: rgba(230, 82, 42, 1);
  /*background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(255, 255, 255, 0.4) 65%,
    rgba(255, 255, 255, 0.15) 85%,
    rgba(255, 255, 255, 0) 100%
  );*/
}

.footer_bcolor {
  background-color: #efe5c0;
}

.header_tcolor {
  color: #e6f499;
}

.menu_bcolor {
  background-color: #efe5c0;
}

.font-body {
  font-family: "Inter", sans-serif;
}

.midashi {
  font-family: "Kaisei Opti", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.hover-color:hover {
  color: #b2b5b3;
}

.width-body {
  width: 75%;
}

.margin-body {
  margin-left: auto;
  margin-right: auto;
}

.margin-contents {
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

@media (min-width: 640px){
  .margin-contents{
    padding: 2rem;
  }
}

.margin-post {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 1280px){
  .del{
    display: none;
  }
}

.del {
  height: 56px;
}

.burger {
  position: relative;
  width: 24px;
  height: 34px;
  cursor: pointer;
  z-index: 10000;
}

.burger span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2.5px;
  background: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #fff,
    0 0 30px #fff;
}

.burger span:nth-child(1) {
  transform: translateY(-8px);
  /* 上の線 */
}

.burger span:nth-child(2) {
  transform: translateY(0);
  /* 真ん中の線 */
}

.burger span:nth-child(3) {
  transform: translateY(8px);
  /* 下の線 */
}

/* バツ印 */

.burger.is-active span:nth-child(1) {
  transform: rotate(45deg);
}

.burger.is-active span:nth-child(2) {
  opacity: 0;
}

.burger.is-active span:nth-child(3) {
  transform: rotate(-45deg);
}

#close {
  position: absolute;
  top: 1rem;
  /* ヘッダーと同じ上からの位置 */
  right: 1rem;
  /* ヘッダーの右端と同じ */
  width: 40px;
  /* サイズ調整 */
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  /* メニューより前面 */
}

#close span {
  display: block;
  width: 100%;
  height: 4px;
  margin: 6px 0;
  background-color: #000;
  transition: 0.3s;
}

#close.is-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#close.is-active span:nth-child(2) {
  opacity: 0;
}

#close.is-active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* 縦方向中央寄せ */
  align-items: center;
  /* 横方向中央寄せ */
  text-align: center;
  gap: 1.5rem;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  /* 初期は非表示 */
  pointer-events: none;
  transition: opacity 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  margin: 0;
  /* ← 追加 */
  padding: 0;
}

.menu.is-active {
  opacity: 1;
  /* 表示時は不透明 */
  pointer-events: auto;
  /* クリック可能に */
}

.menu-item {
  border: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 0.75rem 0;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  transition: background 0.3s, transform 0.2s ease-in-out;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

.menu_header{
  display: none;
}

@media (min-width: 1280px){
  .menu_header{
    display: flex;
  }
}

.menu_header {
  height: 56px;
  align-items: center;
}

.text-font {
  font-family: "Noto Sans JP", sans-serif;
}

.update {
  display: block;
  &.is-active {
    display: none;
  }
}

.null-color {
  color: #b2b5b3;
}

.divider-horizontal {
  border-top: 0.5px solid #d2d2d2;
  max-width: 54rem;
  margin: 5px auto 15px;
  width: 100%;
  height: 0;
}

.respt-h {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px){
  .respt-h{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
  }
}

.respt-f {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px){
  .respt-f{
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.resp-pc-f{
  display: none;
}

@media (min-width: 1280px){
  .resp-pc-f{
    display: flex;
  }
}

.resp-pc-g{
  display: flex;
}

@media (min-width: 1280px){
  .resp-pc-g{
    display: none;
  }
}

.resp-xl-f{
  display: block;
}

@media not all and (min-width: 640px){
  .resp-xl-f{
    display: none;
  }
}

@media (min-width: 1280px){
  .resp-xl-f{
    display: none;
  }

  .resp-xl-g{
    display: none;
  }
}

.resp-sm-f{
  display: block;
}

@media (min-width: 640px){
  .resp-sm-f{
    display: none;
  }
}

.link a {
  color: #0066ff;
  border-bottom: 2px dashed;
}

.link a:hover{
  color: #80a2c0;
}

html {
  scroll-behavior: lgooth;
}

img {
  width: 90%;
  margin: 0 auto;
}

.img-des {
  display: inline-block;
  margin-left: 5%;
}

.img-frame {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  overflow: hidden;
  /* はみ出した部分をカット */
  margin: 0 auto;
}

@media (min-width: 1280px){
  .img-frame{
    height: 600px;
  }
}

/* 共通設定 */

.img-01, .img-02, .img-03 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-size: cover;
  /* ← 縦横比を維持してカバー表示 */
  background-repeat: no-repeat;
  background-position: center center;
  /* デフォルトは中央 */
}

/* スマホ時は右寄せ */

@media (max-width: 640px) {
  .img-01 {
    background-position: 42% center;
    /* ← スマホで右寄せトリミング */
  }
}

/* アニメーション */

.img-01 {
  animation: slide-animation-01 24s infinite;
}

.img-02 {
  animation: slide-animation-02 24s infinite;
}

.img-03 {
  animation: slide-animation-03 24s infinite;
}

@keyframes slide-animation-01 {
  0%   {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.0);
  }

  30%  {
    opacity: 1;
  }

  40%  {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.12);
  }

  90%  {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.0);
  }
}

@keyframes slide-animation-02 {
  0%   {
    opacity: 0;
  }

  30%  {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }

  40%  {
    opacity: 1;
  }

  60%  {
    opacity: 1;
  }

  70%  {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.0);
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-animation-03 {
  0%   {
    opacity: 0;
  }

  60%  {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.0);
  }

  70%  {
    opacity: 1;
  }

  90%  {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
}

.header_container {
  gap: 1rem;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(255, 255, 255, .3);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  background-clip: border-box;
  border-radius: 1rem;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  transition: .5s;
}

.sche-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(255, 255, 255, .3);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  background-clip: border-box;
  border-radius: 1rem;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  transition: .5s;
}

.card-logo {
  display: flex;
  /* 子要素を横並びにする */
  align-items: center;
  /* 垂直方向中央揃え */
  padding: 0.2rem;
  gap: 0rem;
  /* 画像と文字の間隔 */
  border: 1px solid rgba(255, 255, 255, .3);
  background: rgba(255,255,255,0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

@media not all and (min-width: 1280px){
  .card-logo{
    padding: 0.125rem;
  }
}

.card-header:hover .card-logo {
  transform: scale(1.05);
  /* カード全体を拡大 */
}

.card-image {
  margin: 2rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-link {
  display: block;
  /* aタグをブロック化 */
  width: 320px;
  /* カードの幅 */
  text-decoration: none;
  /* リンクの下線消す */
  color: inherit;
  /* 文字色を親から継承 */
}

@media not all and (min-width: 1024px){
  .card-link{
    width: 18rem;
  }
}

.card-header {
  /* aタグをブロック化 */
  text-decoration: none;
  /* リンクの下線消す */
  color: inherit;
  /* 文字色を親から継承 */
  transition: transform 0.15s ease-in-out;
  /* アニメーション速度 */
}

.card-box {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #ffffff;
  text-align: center;
}

.sche-box {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  color: #000000;
  text-align: center;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.dropdown {
  position: relative;
  z-index: 1;
}

/* ホバー判定用の透明エリア */

.dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 15px;
  /* サブメニューとの間の余白分 */
}

.card-header:hover {
  transform: scale(1.1);
  /* 10%拡大 */
}

/* ▼ サブメニュー部分 */

.dropdown-content {
  display: none;
  /* 初期は非表示 */
  position: absolute;
  top: 130%;
  /* 親要素の下に配置 */
  left: 0;
  background-color: #b94047;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding: 0;
  overflow: hidden;
}

@media not all and (min-width: 1280px){
  .dropdown-content{
    top: 105%;
  }
}

.dropdown-content.is-active {
  display: block;
}

/* サブメニュー項目 */

.dropdown-content a {
  display: block;
  padding: 10px 16px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.2s;
}

.dropdown-content a:hover {
  background-color: #c66565;
  /* ホバー時に薄い青に */
}

/* ▼ 親にホバーしたらサブメニュー表示 */

.dropdown:hover .dropdown-content {
  display: block;
}

/* ▼ 一番上の項目をホバーしたとき → 上だけ角丸 */

.dropdown-content a:first-child:hover {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* ▼ 一番下の項目をホバーしたとき → 下だけ角丸 */

.dropdown-content a:last-child:hover {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#stutter {
  scroll-margin-top: 150px;
  /* 上から80px下にスクロールさせる */
}

#westu {
  scroll-margin-top: 150px;
  /* 上から80px下にスクロールさせる */
}

#westu_koryu {
  scroll-margin-top: 150px;
  /* 上から80px下にスクロールさせる */
}

#burger {
  touch-action: manipulation;
  /* ダブルタップズームやピンチズームを防ぐ */
}

.topbar {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* visible クラスが付いたら表示 */

.topbar.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.msg{
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.scroll_down{
  position:absolute;
  bottom: 1%;
  right: 10%;
  animation: arrowmove 1s ease-in-out infinite;
}

.scroll_down a{
  position: absolute;
  left: -24px;
  bottom: 17px;
  color: #000;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2em;
  writing-mode: vertical-rl;
  text-decoration: none;
  text-transform: uppercase;
}

.scroll_down:before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: -6px;
  width: 2px;
  height: 20px;
  background: #000;
  transform: skewX(-31deg);
}

.scroll_down:after{
  content:"";
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 2px;
  height: 85px;
  background:#000;
}

@keyframes arrowmove{
  0%{
    bottom:1%;
  }

  50%{
    bottom:5%;
  }

  00%{
    bottom:1%;
  }
}

@media not all and (min-width: 1280px){
  .max-xl\:mr-2\.5{
    margin-right: 0.625rem;
  }

  .max-xl\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media not all and (min-width: 1024px){
  .max-lg\:gap-10{
    gap: 2.5rem;
  }
}

@media (min-width: 1024px){
  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px){
  .xl\:mr-8{
    margin-right: 2rem;
  }

  .xl\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}