---
import Layout from "../layouts/Layout.astro";
---

<Layout title="うぃーすたについて - 第8回うぃーすた全国交流会">
  <div class="overflow-hidden relative z-[-1] mt-[80px] lg:mt-[78px] bg-[#fffdfd] border-b-[4px] border-red-100 w-full md:h-72 max-md:h-64 flex flex-col justify-center pl-8 zen-kaku-gothic-new">
    <span class="overflow-hidden ml-10 pt-3 max-md:ml-1 text-[50px] font-bold outline-text tracking-widest shiny-slide z-0">
      ABOUT
    </span>
    
    <span class="bg-[#fffdfd] mt-3 ml-10 pb-3 h-30 max-md:ml-1 text-[20px] z-10">
      うぃーすたについて
    </span>
  </div>

  <div class="bg-white/30 text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="margin-contents pt-8 md:px-12 max-md:px-6">

    <div class="h-[15px] md:h-[40px]"></div>
    <div class="fade-in" style="margin-left: 0.25rem !important; margin-right: 0.25rem !important;">
      <p class="midashi relative inline-block pb-1" id="stutter">
        吃音とは&emsp;
        
      </p>
    <div class="ml-2" style="height: 10px;"></div>
    <p class="text-sm link blog-width lg:text-[17px]"
    style="letter-spacing: .025em; margin-bottom: 10px; line-height: 2.05;">&emsp;吃音とは、言葉が流暢に出ず、つかえてしまう言語障害の一種です。吃音の有症率は全人口のおよそ1%と言われ、国や地域を問わず、多くの吃音者がいます。</p>
    <p class="text-sm link blog-width lg:text-[17px]"
    style="letter-spacing: .025em; margin-bottom: 10px; line-height: 2.05;">
    &emsp;吃音については、長年たくさんの研究や調査が行われ、明らかにされてきたことも多々あります。しかし、その原因や本態については分からないことも多く、治すための確実な治療法は確立されていません。</p>
      <br />
      <p class="midashi relative inline-block pb-1" id="westu">
        うぃーすたプロジェクトとは&emsp;
        
      </p>
      <div style="height: 10px;"></div>
      <p class="text-sm link blog-width lg:text-[17px]"
          style="letter-spacing: .025em; margin-bottom: 10px; line-height: 2.05;">&emsp;うぃーすたプロジェクトは、そんな吃音で悩んでいる人のために、お互いに悩みを話したり、何気ない会話に花を咲かすことができるような、お互いに「分かち合う」ことができる「居場所」を提供することを目指しています。具体的には定期的に例会やカフェ会などを開催しています。当サークルを通して、少しでも吃音のある人同士の交流を広がることを心より願っています。</p>
          <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; margin-bottom: 10px; line-height: 2.05;">
          &emsp;うぃーすたプロジェクトHPは<a class="hover-color" target="_blank" rel="noopener noreferrer" href="https://we-are-stutt.jimdofree.com">こちら</a></p>
      <br />
      <p class="midashi relative inline-block pb-1" id="westu_koryu">
        うぃーすた全国交流会とは&emsp;
        
      </p>
      <div style="height: 10px;"></div>
      <p class="text-sm link blog-width lg:text-[17px]"
          style="letter-spacing: .025em; margin-bottom: 10px; line-height: 2.05;">&emsp;うぃーすた全国交流会とは、うぃーすたプロジェクトの主催する交流会イベントです。毎年全国から多くの吃音当事者が集まります。吃音のある同年代の仲間たちと悩みや夢を語り合う、かけがえのない時間を過ごしてみませんか？</p>
    </div>
    <div style="height: 120px;"></div>
  </div>
  </div>
</Layout>
