---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About｜luetsrr.com">
  <div class="margin-contents text-color text-font">
    <span class="midashi">About</span>
    <div style="height: 20px;"></div>
    <p>プロフィール</p>
    <br />
    <p>・国立大学理系2年生（2024年現在）</p>
    <br />
    <br />
    <p>
      当サイトは、Astro.js を用いて制作し、Github Pages
      にてホスティングしています。
    </p>
  </div>
</Layout>
