---
import Layout from "../layouts/Layout.astro";
---

<Layout title="うぃーすたについて｜第8回うぃーすた全国交流会">
  <div class="margin-contents text-color text-font text-sm lg:text-base" style="line-height: 2.05;">
    <div class="lg:h-6 max-lg:h-2"></div>
    <span class="midashi">うぃーすたについて</span>
    <div style="height: 20px;"></div>
    <p class="midashi2" id="stutter">吃音とは</p>
    <div style="height: 10px;"></div>
    <p>&emsp;吃音とは、言葉が流暢に出ず、つかえてしまう言語障害の一種です。吃音の有症率は全人口のおよそ1%と言われ、国や地域を問わず、多くの吃音者がいます。
      <br>
      <br>
      &emsp;吃音については、長年たくさんの研究や調査が行われ、明らかにされてきたことも多々あります。しかし、その原因や本態については分からないことも多く、治すための確実な治療法は確立されていません。</p>
    <br />
    <p class="midashi2" id="westu">うぃーすたプロジェクトとは</p>
    <div style="height: 10px;"></div>
    <p>&emsp;うぃーすたプロジェクトは、そんな吃音で悩んでいる人のために、お互いに悩みを話したり、何気ない会話に花を咲かすことができるような、お互いに「分かち合う」ことができる「居場所」を提供することを目指しています。具体的には定期的に例会やカフェ会などを開催しています。当サークルを通して、少しでも吃音のある人同士の交流を広がることを心より願っています。</p>
    <br />
    <p class="midashi2" id="westu_koryu">うぃーすた全国交流会とは</p>
    <div style="height: 10px;"></div>
    <p>&emsp;うぃーすた全国交流会とは、うぃーすたプロジェクトの主催する交流会イベントです。毎年全国から多くの吃音当事者が集まります。吃音のある同年代の仲間たちと悩みや夢を語り合う、かけがえのない時間を過ごしてみませんか？</p>
    <br />
    <div style="height: 50px;"></div>
  </div>
</Layout>
