---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About｜luetsrr.com">
  <div class="margin-contents text-color text-font" style="line-height: 2.05;">
    <span class="midashi">About</span>
    <div style="height: 20px;"></div>
    <p style="font-size: 19px;">Affiliation</p>
    <p>&nbsp;ー The University of Tokyo Natural Sciences I (sophomore)</p>
    <br />
    <p style="font-size: 19px;">Links</p>
    <p class="link">
      ・E-mail [ <a href="mailto:ymstar4160@gmail.com"
        >ymstar4160 (at) gmail.com</a
      >
      ]
    </p>
    <p class="link">
      ・X (Twitter) [ <a href="https://x.com/nichi_aka_"
        >https://x.com/nichi_aka_</a
      >]
    </p>
    <p class="link">
      ・GitHub [ <a href="https://github.com/luetsrr"
        >https://github.com/luetsrr</a
      >
      ]
    </p>
  </div>
</Layout>
