---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Search｜luetsrr.com">
  <div class="margin-contents text-color text-font">
    <span class="midashi mb-4">活動実績</span>
    <div style="height: 15px;"></div>
    <p class="italic">工事中</p>
    <div style="height: 30px;"></div>
  </div>
</Layout>