---
import Layout from "../layouts/Layout.astro";
---

<Layout title="活動紹介｜ut-stuttering.com">
  <div class="margin-contents text-color text-font">
    <span class="midashi mb-4">活動紹介</span>
    <div style="height: 20px;"></div>
    <p class="midashi2">学生交流会の開催</p>
    <div style="height: 20px;"></div>
    <p>&emsp;吃音を持つ学生が交流できる場として、親睦会の開催をしています。</p>
    <br>
    <p style="font-weight: 500">&emsp;《過去の学生交流会》</p>
    <br>
    <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2015-04-25">サークル設立記念第1回吃音学生交流会（2015年4月25日開催）</a></p>
    <br>
    <p>&emsp;&emsp;大阪吃音教室（伊藤伸二さんのグループ）が発行している『どもりカルタ』を使ったゲームを行いました。</p>
    <br>
    <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2015-11-22">駒場祭巡り親睦会（2015年11月22日開催）</a></p>
    <br>
    <p>&emsp;&emsp;東大の学園祭『駒場祭』をメンバーで巡り、親睦を深めました。</p>
    <br>
    <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2016-04-23">サークル設立1周年第2回吃音学生交流会（2016年4月23日開催）</a></p>
    <br>
    <p>&emsp;&emsp;サークル設立1周年を記念して、交流会を開催しました。</p>
    <br>
    <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2016-06-03">オープンキャンパス巡り親睦会（2016年6月3日開催）</a></p>
    <br>
    <p>&emsp;&emsp;駒場Ⅱキャンパスのオープンキャンパスに参加し、障害学に関する講演会に参加しました。</p>
    <br>
    <div style="height: 20px;"></div>
    <p class="midashi2">当事者研究会・モデル研究会</p>
    <div style="height: 20px;"></div>
    <p>&emsp;当サークルでは、当事者研究会（モデル研究会）という活動をメインに行っています。
      <br>
      <br>
      &emsp;当事者研究というのは、障害や生きづらさを抱えている当事者の人たちが、自分自身の困りごとについて、仲間と対話しながら「研究していく」営みのことです。もともとは統合失調症のグループ（浦河べてるの家）で始まった営みですが、現在では、障害の垣根を越えて様々なグループに広まり、主に福祉の世界で注目を集めています。オープン・ダイアローグとも共通性のある手法と言われています。
      <br>
      <br>
      &emsp;モデル研究会というのは、既存の学術的知識（説明モデル）をベースにしつつ当事者研究を行い、参加者の経験や事例を用い て、そのテーマに関わる事柄の記述をより豊かで緻密なものにすることを目指します。 扱いとして、勉強会の一種です。
      <br>
      <br>
      &emsp;当サークルでは、これまで、「話し言葉の地図と吃音の関係」などをテーマに、当事者研究会を行ってきました。「人格と吃音の関係」や「演技と吃音の関係」など、これまであまり専門家の人たちが論じてこなかった内容についての知見も蓄積しつつあります。研究の一部は、第4回日本吃音・流暢性学会で発表し、専門家の方からも、注目してもらえました。</p>
      <br>
      <p style="font-weight: 500">&emsp;《これまでの当事者研究会・モデル研究会》</p>
      <br>
      <p class="link">&emsp;<a href="/posts/kitsuontojisya-2015-12-26">第1回吃音当事者研究会（2015年12月26日開催）テーマ：『吃音を制御することについて』</a></p>
      <br>
      <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2015-04-25">第1回吃音モデル研究会（2015年10月17日開催）モデル：『ヴァン・ライパーの吃音進展図』</a></p>
      <br>
      <p style="text-align: right">（菊池良和『エビデンスに基づいた吃音支援入門』より）</p>
      <br>
      <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2015-04-25">第2回吃音モデル研究会（2016年3月26日開催）モデル：『話し言葉の地図』</a></p>
      <p style="text-align: right">（平田オリザ『対話のレッスン』、『演劇入門』より）</p>
  </div>
</Layout>