---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お申し込み - 第8回うぃーすた全国交流会">
  <div class="overflow-hidden relative z-[-1] mt-[80px] lg:mt-[78px] bg-[#fffdfd] border-b-[4px] border-red-100 w-full md:h-72 max-md:h-64 flex flex-col justify-center pl-8 zen-kaku-gothic-new">
    <span class="overflow-hidden ml-10 pt-3 max-md:ml-1 text-[50px] font-bold outline-text md:tracking-widest shiny-slide z-0">
      APPLICATION
    </span>
    
    <span class="bg-[#fffdfd] mt-3 ml-10 pb-3 h-30 max-md:ml-1 text-[20px] z-10">
      お申し込み
    </span>
  </div>
  <div class="bg-white/30 text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="fade-in margin-contents pt-8 md:px-12 max-md:px-6">

    <div class="h-[15px] md:h-[40px]"></div>
    <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
      下記の「参加プラン」、「お申し込みに関するご注意」、「アレルギー対応に関するご案内」をよくお読みいただき、ページ下部のお申し込みフォームよりお申し込みください。
    </p>
    <div class="h-[25px] md:h-[40px]"></div>
    <p class="midashi relative inline-block pb-1" id="plan">
      参加プラン&emsp;
      
    </p>
    <div style="height: 10px;"></div>
    <div style="margin-left: 0.25rem; margin-right: 0.25rem letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        【社会人プランA】7/18(土)〜7/19(日) 全日程参加（宿泊あり9,900円）<br>
        【社会人プランB】7/18(土) 1日目BBQまで参加（宿泊なし6,000円）<br>
        【学生・中高生プランA】7/18(土)〜7/19(日) 全日程参加（宿泊あり9,400円）<br>
        【学生・中高生プランB】7/18(土) 1日目BBQまで参加（宿泊なし5,500円）<br>
        【プランC】7/18(土) 1日目ビンゴ大会まで参加（宿泊なし2,500円）<br>
        【プランD】7/19(日) 2日目のみ参加（宿泊なし1,500円）
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        ※社会人・学生プランの各種プランには食事（BBQ）代も含まれますが、お飲み物の料金は含まれておりません。
        <br>
        ※プランC、プランDは社会人・学生・中高生一律の料金となります。
        <br>
        ※プランDはその他の1日目のみ参加のプランと併せてお選びいただけます。
        </p>
    </div>
    <div class="h-[25px] md:h-[40px]"></div>
    <p class="midashi relative inline-block pb-1" id="plan">
      お申し込み締切日&emsp;
    </p>
    <div style="height: 10px;"></div>
    <div style="margin-left: 0.25rem; margin-right: 0.25rem letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          <span class="font-bold bg-yellow-300">全てのプランについて 6/16(火) まで</span>
        <div style="height: 10px;"></div>
        ※お申し込みフォーム送信の締切日となります。上記締切日までにお申し込みフォームを送信いただければ、お振り込みは締切日を過ぎても構いません（お振り込みはお申し込みフォーム送信後、1週間以内にお済ませください）。
        <br>
        ※宿泊プランのお申し込みは定員に達し次第受付終了となりますのでご注意ください。
        <br>
        ※お申し込み締切日を過ぎてのお申し込みは承りかねます。
    </p>
    </div>
    <div class="h-[25px] md:h-[40px]"></div>
    <p class="midashi relative inline-block pb-1" id="attention">
      お申し込みに関するご注意&emsp;
      
    </p>
    <div style="height: 10px;"></div>
    <div style="margin-left: 0.25rem; margin-right: 0.25rem letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        ＜お振込期日＞<br>
        ・お振り込みの期日は、お申し込みフォーム送信から1週間後となりますのでご注意ください。<br>

        ・期日までにお振り込みが確認できなかった場合は、お申し込みキャンセルとなり、再度お申し込みいただく必要がございます。<br>
      </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
        style="letter-spacing: .025em; line-height: 2.05;">
        ＜キャンセルポリシー＞<br>
        ・お申し込み受付完了後（お振り込み後）にキャンセルされる場合、日時に応じて下記のキャンセル料が発生します。<br>

        
        &emsp;<span class="font-bold bg-yellow-300">6/16(火)まで：0%</span><br>
        &emsp;<span class="font-bold bg-yellow-300">6/17(水)〜7/5(日)：30%</span><br>
        &emsp;<span class="font-bold bg-yellow-300">7/6(月)～7/14(火)：50%</span><br>
        &emsp;<span class="font-bold bg-yellow-300">7/15(水)以降：100%</span><br>

        ・キャンセル時の返金額は、参加費からキャンセル料と振込手数料を差し引いた額となります。<br>

        ・体調不良等による欠席や、公共交通機関の遅延・欠航等によって参加できない場合も上記キャンセル料に則って対応いたします。ただし、特例で対応が可能な場合もございますので、お問い合わせ用メールアドレス（<a class="hover-color" href="mailto:westu.zenkoku.2026@gmail.com">westu.zenkoku.2026@gmail.com</a>）までご連絡ください。<br>
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        ＜イベント開催中止時の対応＞<br>
        ・台風・荒天・その他災害等による開催可否の判断は、開催3日前の7/15(水)に行います。<br>

        ・主催者側の都合によってイベントが開催中止となった場合は、振込手数料を除いた全額を返金いたします。<br>

        ・イベントが開催中止になった場合も、交通費等の補償は行いませんので予めご了承ください。<br>
      </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        ＜個人情報の取り扱い＞<br>
        お申し込みフォームに記載いただいた個人情報は、本イベントの運営のみに使用し、第三者に提供することは一切いたしません。<br>
        </p>
    </div>
    <div class="h-[25px] md:h-[40px]"></div>
    <p class="midashi relative inline-block pb-1" id="alergy">
      アレルギー対応に関するご案内&emsp;
      
    </p>
    <div style="height: 10px;"></div>
    <div style="margin-left: 0.25rem; margin-right: 0.25rem letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          うぃーすた全国交流会では、皆様に安心してお食事を楽しんでいただけるよう、アレルギー情報の事前確認を行っております。食物アレルギーをお持ちの方は、以下の内容を必ずご確認いただき、所定の手続きをお願いいたします。
          <br>
          ご不明点やご要望等がありましたら、お問い合わせ用メールアドレス（<a class="hover-color" href="mailto:westu.zenkoku.2026@gmail.com">westu.zenkoku.2026@gmail.com</a>）までご連絡ください。
          </p>
          <div style="height: 20px;"></div>
          <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          ① 1日目 7/18(土) BBQについて
          <br>
          BBQでは、以下の食材・調味料の使用を予定しています。
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          【予定メニュー・使用食材】
          <br>
          お肉類： 牛バラ、豚バラ、牛赤身(加工肉)、牛ハラミ(加工肉)、フランクフルト
          <br>
          野菜類： キャベツ、たまねぎ、かぼちゃ、カットコーン
          <br>
          その他： 焼きおにぎり
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          【焼肉のたれの成分】
          <br>
          小麦、ごま、大豆、りんご
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          ＜当日の対応について＞
          <br>
          上記を踏まえ、当日は以下のいずれかの対応をお願いいたします。
          <br>
          ・ご自身で判断して食べる
          <br>
          （提供される食材の中から、自分が食べられるものをご自身で選別して喫食する）
          <br>
          ・ご自身で代替食を持参する
          <br>
          （提供される食事には手を付けず、持参したものを食べる）
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          <span class="font-bold bg-yellow-300">※網やトングなどの調理器具を使い回すため、意図せず他の食材やアレルギー成分が混入する可能性があります。重篤なアレルギーをお持ちの方は、ご自身の判断での参加、または代替食の持参をお願いいたします。</span>
        </p>

        <div style="height: 20px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          ② 2日目 7/19(日) 朝食について
          <br>
          宿泊施設（大阪国際ユースホステル）の規定により、朝食のアレルギー対応には「食物アレルギー対応シート」の提出が必要となります。
          <br>
          該当される方は、以下の手順でシートを作成し、<span class="font-bold bg-yellow-300">7/3(水)までに</span>、うぃーすた全国交流会実行委員会（<a class="hover-color" href="mailto:westu.zenkoku.2026@gmail.com">westu.zenkoku.2026@gmail.com</a>）までメールにてご提出ください。
          <br>
          （運営にてとりまとめて宿泊施設へ提出いたします）
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          【提出手順】
          <br>
          1. 「食物アレルギー対応シート」のダウンロード 
          <br>
          以下のURLよりシートをダウンロードしてください。
          <br>
          <a class="hover-color" href="https://osaka-yha.or.jp/osakakokusai/document" target="_blank" rel="noopener noreferrer">https://osaka-yha.or.jp/osakakokusai/document</a>
        </p>
        <div style="height: 5px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          2. 記入事項の確認
          <br>
          団体名：うぃーすた全国交流会
          <br>
          施設利用日：7月18日～7月19日 
          <br>
          上記および、ご宿泊者様の氏名・連絡先を記入し、ご自身のアレルギー情報を入力してください。
        </p>
        <div style="height: 5px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          3. メールにてご提出
          <br>
          作成した「食物アレルギー対応シート」を、うぃーすた全国交流会実行委員会（<a class="hover-color" href="mailto:westu.zenkoku.2026@gmail.com">westu.zenkoku.2026@gmail.com</a>）へ送信してください。
        </p>
        <div style="height: 20px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          ③ その他・留意事項
          <br>
          
          ＜アレルギー対応の範囲について＞
          <br>
          1日目BBQ・2日目朝食以外でもご不安な点がありましたらご連絡ください。
          <br>
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          ＜企画内での飲食物（ビンゴ景品等）について＞
          <br>
          1日目のビンゴ大会で、景品としてお菓子・飲み物等を配布する予定です。
          <br>
          また、熱中症対策として飲み物や塩分タブレット等を配布することがあります。これらに含まれるアレルギー成分の管理は運営側では行いませんので、ご自身にて原材料表示等をご確認ください。
        </p>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          その他ご不明点等がありましたら、うぃーすた全国交流会実行委員会（<a class="hover-color" href="mailto:westu.zenkoku.2026@gmail.com">westu.zenkoku.2026@gmail.com</a>）までご連絡ください。
        </p>
    <div style="height: 80px;"></div>
    
    <div class="lg:text-lg max-lg:text-base button-wrapper">
      <a href="" class="btn-gradient flex items-center justify-center gap-2 whitespace-nowrap">
        <span>お申し込みフォーム</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
      </a>
    </div>
    <div style="height: 120px;"></div>
    </div>
    
  </div>
</Layout>