---
import Layout from "../layouts/Layout.astro";
---

<Layout title="注意事項 - 第8回うぃーすた全国交流会">
  <div class="overflow-hidden relative z-[-1] mt-[80px] lg:mt-[78px] bg-[#fffdfd] border-b-[4px] border-red-100 w-full md:h-72 max-md:h-64 flex flex-col justify-center pl-8 zen-kaku-gothic-new">
    <span class="overflow-hidden ml-10 pt-3 max-md:ml-1 text-[50px] font-bold outline-text tracking-widest shiny-slide z-0">
      ATTENTION
    </span>
    
    <span class="bg-[#fffdfd] mt-3 ml-10 pb-3 h-30 max-md:ml-1 text-[20px] z-10">
      注意事項
    </span>
  </div>
  <div class="bg-white/30 text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="margin-contents pt-8 md:px-12 max-md:px-6">

    <div class="h-[15px] md:h-[40px]"></div>
    <div class="fade-in" style="margin-left: 0.25rem; margin-right: 0.25rem letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">イベント中は下記にご注意ください。<br>
        <div style="height: 10px;"></div>
        <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        ① 施設内では利用に関するルールを守ってください。<br>
        ② 以下のことを禁止させていただきます。<br>

        ・スムーズな運営進行を妨げる行為<br>

        ・特定の方に対して執拗に話しかける行為<br>

        ・個人の価値観を押しつけたり、他人の価値観を否定したりする行為（できるだけ参加者全員が話すことのできる環境作りにご協力ください）<br>

        ・宗教、マルチなどの勧誘行為<br>

        ・その他迷惑行為や不快と思われる行為<br>

        ③ 参加者間での連絡先の交換等は自己責任にてお願いいたします。<br>

        ④ 記録として会の様子を撮影させていただきます。撮影した写真の一部は顔等にモザイク処理を施した上でSNSへ投稿させていただくことがあります。それでも映りたくない等ありましたら事前にご連絡ください。<br>
        </p>
      <div style="height: 40px;"></div>
      <p class="midashi relative inline-block pb-1" id="faq">
        よくある質問&emsp;
        
      </p>
      <div style="height: 20px;"></div>
      

<div class="flex items-start gap-2 text-sm blog-width lg:text-[17px]"
     style="letter-spacing: .025em; line-height: 2.05;">
  <span class="qa-label q shrink-0">Q</span>
  <div>
    初めて／一人で参加するのですが大丈夫でしょうか。
  </div>
</div>

<div style="height: 10px;"></div>

<div class="flex items-start gap-2 text-sm blog-width lg:text-[17px]"
     style="letter-spacing: .025em; line-height: 2.05;">
  <span class="qa-label a shrink-0">A</span>
  <div>
    毎回多くの方が初めて／一人で参加される方になります。グループトークなど、ファシリテーターがサポートいたしますのでご安心ください。
  </div>
</div>
<br>

<div class="flex items-start gap-2 text-sm blog-width lg:text-[17px]"
     style="letter-spacing: .025em; line-height: 2.05;">
  <span class="qa-label q shrink-0">Q</span>
  <div>
    私自身は吃音当事者ではないのですが、参加できるのでしょうか。
  </div>
</div>

<div style="height: 10px;"></div>

<div class="flex items-start gap-2 text-sm blog-width lg:text-[17px]"
     style="letter-spacing: .025em; line-height: 2.05;">
  <span class="qa-label a shrink-0">A</span>
  <div>
    吃音当事者の方だけでなく、当事者のご家族やパートナーの方、吃音にご興味のある方などもご参加いただけます。
  </div>
</div>
<br>

<div class="flex items-start gap-2 text-sm blog-width lg:text-[17px]"
     style="letter-spacing: .025em; line-height: 2.05;" id="alcohol">
  <span class="qa-label q shrink-0">Q</span>
  <div>
    1日目BBQでは飲み物が提供されるのでしょうか。／お酒等アルコール類の持ち込みはできますでしょうか。
  </div>
</div>

<div style="height: 10px;"></div>

<div class="flex items-start gap-2 text-sm blog-width lg:text-[17px]"
     style="letter-spacing: .025em; line-height: 2.05;">
  <span class="qa-label a shrink-0">A</span>
  <div>
    <span class="font-bold bg-yellow-300">1日目BBQではお飲み物のご提供はございません。</span>お手数おかけしますが、持参されるか、近くの売店等で各自ご用意ください。その際、<span class="font-bold bg-yellow-300">他店でご購入されたお酒等アルコール類はお持ち込みいただけません。</span>お酒等アルコール類をお楽しみになりたい方は、施設内の売店にてご用意ください。<br><br>
  </div>
</div>

<div class="flex items-start gap-2 text-sm blog-width lg:text-[17px]"
     style="letter-spacing: .025em; line-height: 2.05;" id="alcohol">
  <span class="qa-label q shrink-0">Q</span>
  <div>
    食物アレルギーの対応について教えてください。
  </div>
</div>

<div style="height: 10px;"></div>

<div class="flex items-start gap-2 text-sm blog-width lg:text-[17px]"
     style="letter-spacing: .025em; line-height: 2.05;">
  <span class="qa-label a shrink-0">A</span>
  <div>
    <a class="hover-color" href="/application/#alergy">こちら</a>をご確認ください。該当される方は、必ず内容をご確認いただき、所定の手続きをお願いいたします。
  </div>
</div>
      
    </div>
    <div style="height: 120px;"></div>
    </div>
    
  </div>
</Layout>