---
import Layout from "../layouts/Layout.astro";
---

<Layout title="注意事項｜第8回うぃーすた全国交流会">
  <div class="margin-contents text-color text-font">
    <div style="height: 10px;"></div>
    <span class="midashi">注意事項</span>
    <div style="height: 20px;"></div>
    <div style="margin-left: 0.25rem !important; margin-right: 0.25rem !important;">
      <p>&emsp;準備中です。</p>
    </div>
  </div>
</Layout>