---
import Layout from "../layouts/Layout.astro";
---

<Layout title="注意事項｜第8回うぃーすた全国交流会">
  <div class="text-sm lg:text-base margin-contents text-color zen-kaku-gothic-new">
    <div style="height: 10px;"></div>
    <div
      class="max-lg:p-8 lg:p-10 mt-[128px] lg:mt-[115px] text-color margin-contents header_bcolor rounded-[40px] shadow-md"
      style="max-width: 900px; width: 100%;"
    >
    <span class="midashi">注意事項</span>
    <div style="height: 20px;"></div>
    <div style="margin-left: 0.25rem !important; margin-right: 0.25rem !important;">
      <p>準備中です。</p>
    </div>
    </div>
  </div>
</Layout>