---
import Layout from "../layouts/Layout.astro";
---

<Layout title="中高生交流会｜第8回うぃーすた全国交流会">
  
  <div class="overflow-hidden relative border-b-[4px] border-red-100 max-lg:h-[300px] lg:h-[500px] mt-[80px] w-full">
    <!-- 背景画像 -->
    <div 
      class="absolute inset-0 bg-cover bg-center max-lg:scale-150"
      style="background-image: url('/images/chukosei.png');"
    ></div>
  
    <!-- 中央に固定するラッパー -->
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <!-- <img 
        src="/images/chukosei_wa.png"
        alt="重ねる画像"
        class="highres-img"
      />-->
    </div>
  </div>
  <div style="height: 100px;" />
  <div class="text-[36px] font-medium zen-kaku-gothic-new chukosei_text text-center">吃音のあるわたしは、ひとりではない。</div>
  <div style="height: 50px;" />
  <div class="text-lg max-w-sm mx-auto zen-kaku-gothic-new text-center">
    大切なことを言いたいのに、<br>
    言葉が上手く出てこない。<br><br>
    
    この気持ちをわかってくれますか。<br><br>
    
    でも、<br>
    わたしには同じ吃音のある仲間がいる。<br>
    わたしは、ひとりではない。
  </div>
  <div style="height: 72px;" />
  <div class="max-w-sm mx-auto text-center text-color rocknroll-one-regular" style="padding-bottom: 0rem;">
    <h2 class="heading-31">&nbsp;プログラム&emsp;</h2>
  </div>
  <div style="height: 50px;" />
  <div class="rocknroll-one-regular cards-container text-color text-font max-lg:gap-10">
    <a class="card-link">
      <div class="sche-card pic-image">
          <div class="sche-box">
              <div style="height: 8px;"></div>
              <h2 class="rocknroll-one-regular card-title">7月18日(<span style="color: #4476ff;">土</span>)</h2>
              <p class="rocknroll-one-regular card-description text-start">
                14:00～14:20&emsp;開会式<br>
                14:20～16:20&emsp;グループトーク<br>
                16:30～17:30&emsp;講演<br>
                19:00～21:00&emsp;夕食<br>
                21:00～&emsp;フリータイム<br></p>
          </div>
      </div>
    </a>
    <a class="card-link">
      <div class="sche-card pic-image">
          <div class="sche-box">
              <div style="height: 8px;"></div>
              <h2 class="rocknroll-one-regular card-title">7月19日(<span style="color: #ff4444;">日</span>)</h2>
              <p class="rocknroll-one-regular card-description text-start">
                7:00〜8:30&emsp;朝食<br>
                9:00～10:00&emsp;マイメッセージ<br>
                10:10～11:10&emsp;クイズ大会<br>
                11:20～11:40&emsp;閉会式<br>
                13:00～&emsp;昼食<br></p>
          </div>
      </div>
    </a>
  </div>
  <div style="height: 200px;" />
</Layout>