---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お問い合わせ｜第8回うぃーすた全国交流会">
  <div class="mt-[135px] lg:mt-[150px] margin-default text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="bg-white rounded-[40px] rounded-b-none pt-8 md:px-12 max-md:px-6 shadow-sm">
    <div style="height: 10px;"></div>
    <h2 class="headline-page">
      <span class="headline-main">CONTACT</span>
      <span class="headline-sub">お問い合わせ</span>
    </h2>
    <div style="height: 20px;"></div>
    <div style="margin-left: 0.25rem; margin-right: 0.25rem">
      <p>準備中です。</p>
    </div>
    <div style="height: 150px;"></div>
    </div>
  </div>
</Layout>