---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お問い合わせ｜第8回うぃーすた全国交流会">
  <div class="mt-[70px] lg:mt-[78px] bg-[#fffdfd] border-b-[4px] border-red-100 w-full h-72 flex flex-col justify-center pl-8 zen-kaku-gothic-new">
    <span class="ml-10 max-md:ml-1 text-[50px] font-bold outline-text tracking-widest">CONTACT</span>
    <span class="ml-10 max-md:ml-1 text-[20px]">お問い合わせ</span>
  </div>
  <div class="bg-white/30 text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="margin-contents pt-8 md:px-12 max-md:px-6">

    <div class="h-[30px] md:h-[50px]"></div>
    <div style="margin-left: 0.25rem; margin-right: 0.25rem">
      <p>準備中です。</p>
    </div>
    <div style="height: 150px;"></div>
    </div>
  </div>
</Layout>