---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お問い合わせ｜第8回うぃーすた全国交流会">
  <div class="overflow-hidden relative z-[-1] mt-[80px] lg:mt-[78px] bg-[#fffdfd] border-b-[4px] border-red-100 w-full h-72 flex flex-col justify-center pl-8 zen-kaku-gothic-new">
    <span class="overflow-hidden ml-10 pt-3 max-md:ml-1 text-[50px] font-bold outline-text tracking-widest shiny-slide z-0">
      CONTACT
    </span>
    
    <span class="bg-[#fffdfd] mt-3 ml-10 pb-3 h-30 max-md:ml-1 text-[20px] z-10">
      お問い合わせ
    </span>
  </div>
  <div class="bg-white/30 text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="margin-contents pt-8 md:px-12 max-md:px-6">

    <div class="h-[30px] md:h-[40px]"></div>
    <p class="midashi">公式SNS</p>
    <div style="height: 10px;"></div>
    <div class="ml-1" style="max-width: 56rem; letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p>
        最新情報は各種SNSにて発信しています。<br>
      ぜひフォローください！</p>
      <div style="height: 20px;"></div>
      <div class="flex items-center space-x-6">
        <div class="flex items-center space-x-3">
          <a href="https://www.facebook.com/we.are.stutterer" class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center transform transition-transform duration-200 hover:scale-110">
            <img src="/images/Facebook_Logo_Primary.png" class="w-9" alt="Facebook">
          </a>
          <a href="https://x.com/westu__2026" class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center transform transition-transform duration-200 hover:scale-110">
            <i class="ri-twitter-x-line text-black text-[32px]"></i>
          </a>
          <a href="https://www.youtube.com/@westu_kansai" class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center transform transition-transform duration-200 hover:scale-110">
            <img src="/images/yt_icon_red_digital.png" class="w-9" alt="YouTube">
          </a>
        </div>
      </div>
    </div>
    <div style="height: 40px;"></div>
    <p class="midashi">連絡先</p>
    <div class="ml-1" style="max-width: 56rem; letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p>
        個別のご連絡は下記メールアドレスにて受け付けております。<br>
        何かご不明な点やご心配なことなどがありましたら、ご遠慮なくお問い合わせください。<br>
        （返信には数日いただくことがあります）<br>
        ※お問い合わせの前に、注意事項内のよくある質問をぜひご覧ください。
        <div style="height: 16px;"></div>
        うぃーすた全国交流会実行委員会<br>
      mail：<a class="hover-color" href="mailto:westu.zenkoku.2026@gmail.com">westu.zenkoku.2026@gmail.com</a></p>
    <div style="height: 120px;"></div>
    </div>
  </div>
</Layout>