---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お問い合わせ - 第8回うぃーすた全国交流会">
  <div class="overflow-hidden relative z-[-1] mt-[80px] lg:mt-[78px] bg-[#fffdfd] border-b-[4px] border-red-100 w-full md:h-72 max-md:h-64 flex flex-col justify-center pl-8 zen-kaku-gothic-new">
    <span class="overflow-hidden ml-10 pt-3 max-md:ml-1 text-[50px] font-bold outline-text tracking-widest shiny-slide z-0">
      CONTACT
    </span>
    
    <span class="bg-[#fffdfd] mt-3 ml-10 pb-3 h-30 max-md:ml-1 text-[20px] z-10">
      お問い合わせ
    </span>
  </div>
  <div class="fade-in bg-white/30 text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="margin-contents pt-8 md:px-12 max-md:px-6">

    <div class="h-[15px] md:h-[40px]"></div>
    
    <div class="ml-1" style="max-width: 56rem; letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        個別のお問い合わせは下記メールアドレスにて受け付けております。<br>
        何かご不明な点やご心配なことなどがありましたら、ご遠慮なくお問い合わせください。<br>
        （返信には数日いただくことがあります）<br>
        ※お問い合わせの前に、注意事項内のよくある質問をぜひご覧ください。
        <div style="height: 16px;"></div>
        うぃーすた全国交流会実行委員会<br>
      mail：<a class="hover-color" href="mailto:westu.zenkoku.2026@gmail.com">westu.zenkoku.2026@gmail.com</a></p>
    <div style="height: 120px;"></div>
    </div>
  </div>
</Layout>