---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お問い合わせ｜第8回うぃーすた全国交流会">
  <div class="mt-[135px] lg:mt-[140px] text-sm lg:text-base margin-contents text-color zen-kaku-gothic-new">
    <div style="height: 10px;"></div>
    <span class="midashi">お問い合わせ</span>
    <div style="height: 20px;"></div>
    <div style="margin-left: 0.25rem; margin-right: 0.25rem">
      <p>準備中です。</p>
    </div>
    </div>
  </div>
</Layout>