---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お問い合わせ｜第8回うぃーすた全国交流会">
  <div class="margin-contents text-color text-font">
    <div class="lg:h-6 max-lg:h-2"></div>
    <span class="midashi">お問い合わせ</span>
    <div style="height: 20px;"></div>
    <p>&emsp;準備中です。</p>
  </div>
</Layout>