---
import Layout from "../layouts/Layout.astro";
---

<Layout title="うぃーすた全国交流会の歴史｜第8回うぃーすた全国交流会">
  <div class="mt-[115px] margin-contents text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    
  </div>
</Layout>
