---
import Layout from "../layouts/Layout.astro";
---

<Layout title="開催概要 - 第8回うぃーすた全国交流会">
  <div class="overflow-hidden relative z-[-1] mt-[80px] lg:mt-[78px] bg-[#fffdfd] border-b-[4px] border-red-100 w-full md:h-72 max-md:h-64 flex flex-col justify-center pl-8 zen-kaku-gothic-new">
    <span class="overflow-hidden ml-10 pt-3 max-md:ml-1 text-[50px] font-bold outline-text tracking-widest shiny-slide z-0">
      PROGRAM
    </span>
    
    <span class="bg-[#fffdfd] mt-3 ml-10 pb-3 h-30 max-md:ml-1 text-[20px] z-10">
      開催概要
    </span>
  </div>
  <div class="bg-white/30 text-color zen-kaku-gothic-new text-sm lg:text-base" style="line-height: 2.05;">
    <div class="fade-in margin-contents pt-8 md:px-12 max-md:px-6">

    <div class="h-[15px] md:h-[40px]"></div>
    <p class="midashi relative inline-block pb-1">
      開催日程&emsp;
      
    </p>
    <div style="height: 10px;"></div>
    <div class="ml-1" style="max-width: 56rem; letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm link blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        2026年7月18日(土)〜7月19日(日)</p>
    </div>
    <div style="height: 40px;"></div>
    <p class="midashi relative inline-block pb-1">
      会場&emsp;
      
    </p>
    <div style="height: 10px;"></div>
    <div class="ml-1 resp-pc-f" style="max-width: 56rem; letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        <a class="hover-color" href="https://osaka-yha.or.jp/osakakokusai/" target="_blank" rel="noopener noreferrer">大阪国際ユースホステル・羽衣青少年センター
          </a></p>
    </div>
    <div class="ml-1 resp-pc-g" style="max-width: 56rem; letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
        <a class="hover-color" href="https://osaka-yha.or.jp/osakakokusai/" target="_blank" rel="noopener noreferrer">大阪国際ユースホステル・羽衣青少年センター<br>
          </a></p>
    </div>
    <div class="ml-1" style="max-width: 56rem; letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">〒592-0002&nbsp;&nbsp;大阪府高石市羽衣公園丁</p>
    </div>
    <div style="height: 24px;"></div>
    <iframe class="rounded-xl" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3286.7871456918588!2d135.43267138709487!3d34.53362038457621!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000c4bdd1528e3f%3A0x97db88bff424e485!2z5aSn6Ziq5Zu96Zqb44Om44O844K544Ob44K544OG44Or!5e0!3m2!1sja!2sjp!4v1763623682701!5m2!1sja!2sjp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div style="height: 24px;"></div>
    <div class="ml-1" style="max-width: 56rem; letter-spacing: .025em; margin-bottom: 3px; line-height: 2.05;">
      <p class="text-sm blog-width lg:text-[17px]"
          style="letter-spacing: .025em; line-height: 2.05;">
          【アクセス】
          <br>
          ・JR線 東羽衣駅 から徒歩15分
          <br>
          ・南海本線 羽衣駅 から徒歩15分
          <br>
          ・阪堺電車 浜寺公園駅 から徒歩25分
          <br>
        ※アクセスの詳細は
        <a class="hover-color" href="https://osaka-yha.or.jp/osakakokusai/access" target="_blank" rel="noopener noreferrer">大阪国際ユースホステル・羽衣青少年センターのページ</a>
        をご覧ください。
      </p>
    </div>
    <div style="height: 50px;"></div>
    <p class="midashi relative inline-block pb-1" id="program">
      プログラム&emsp;
    </p>
    </div>
    <div class="w-full mx-auto px-0 pt-2 mb-0">
  
      <div class="w-full mx-auto max-w-[64rem] md:px-12 px-6 mb-8">
        <div class="flex items-baseline gap-3">
          <h2 class="relative -top-0.5 zen-kaku-gothic-new font-bold text-gray-800 lg:text-4xl text-3xl tracking-wide ml-1">
            Day1 - 7.18 <span class="text-3xl text-blue-500">Sat.</span>
          </h2>
        </div>
      </div>
    
      <div class="w-full mx-auto max-w-[64rem] md:px-12 px-8 mb-16">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(239,68,68,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/westu.png">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-red-400 to-pink-500 rounded-full w-fit shadow-md tracking-wider">
                13:00 - 13:15
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">開会式</h3>
              <p class=" leading-relaxed font-medium">
                実行委員長の挨拶や、うぃーすたのご紹介などを行います。<br>楽しい2日間の始まりです！
              </p>
            </div>
          </div>
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(239,68,68,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/IMG_7700.JPG">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-red-400 to-pink-500 rounded-full w-fit shadow-md tracking-wider">
                13:25 - 14:40
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">グループトーク</h3>
              <p class=" leading-relaxed font-medium">
                グループに分かれてグループトークを行います。<br>吃音のことだけでなく、趣味や仕事の話などさまざま。
              </p>
            </div>
          </div>
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(239,68,68,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/westu.png">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-red-400 to-pink-500 rounded-full w-fit shadow-md tracking-wider">
                14:50 - 15:55
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">ビンゴ大会</h3>
              <p class=" leading-relaxed font-medium">
                豪華景品が当たるかも！？
              </p>
            </div>
          </div>
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(239,68,68,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/westu.png">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-red-400 to-pink-500 rounded-full w-fit shadow-md tracking-wider">
                17:00 - 19:30
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">BBQ</h3>
              <p class=" leading-relaxed font-medium">
                みんなでBBQを楽しみましょう！
              </p>
            </div>
          </div>
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(239,68,68,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/img2.jpg">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-red-400 to-pink-500 rounded-full w-fit shadow-md tracking-wider">
                20:00 ～
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">フリータイム</h3>
              <p class=" leading-relaxed font-medium">
                入浴やロビーでの歓談など、思い思いにお過ごしください。
              </p>
            </div>
          </div>
    
        </div>
        <p class="text-sm blog-width lg:text-[17px] ml-1"
          style="letter-spacing: .025em; line-height: 2.05;">
          <br>
          ※タイムテーブルの詳細は<a class="hover-color" href="/timetable/">こちら</a></p>
      </div>
    
      <div class="w-full mx-auto max-w-[64rem] md:px-12 px-6 mb-8 mt-12">
        <div class="flex items-baseline gap-3">
          <h2 class="relative -top-0.5 zen-kaku-gothic-new font-extrabold text-gray-800 lg:text-4xl text-3xl tracking-wide ml-1">
            Day2 - 7.19 <span class="text-3xl text-red-500">Sun.</span>
          </h2>
          </div>
      </div>
    
      <div class="w-full mx-auto max-w-[64rem] md:px-12 px-8 mb-16">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(249,115,22,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/westu.png">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-orange-400 to-amber-500 rounded-full w-fit shadow-md tracking-wider">
                7:45 - 8:25
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">朝食</h3>
              <p class=" leading-relaxed font-medium">
                ホテルのビュッフェ形式です！
              </p>
            </div>
          </div>

          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(249,115,22,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/GVKzQY_aEAAO1hS.jpeg">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-orange-400 to-amber-500 rounded-full w-fit shadow-md tracking-wider">
                9:05 - 9:35
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">グループトーク</h3>
              <p class=" leading-relaxed font-medium">
                グループに分かれてグループトークを行います。<br>吃音のことだけでなく、趣味や仕事の話などさまざま。
              </p>
            </div>
          </div>
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(249,115,22,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/IMG_7703.jpg">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-orange-400 to-amber-500 rounded-full w-fit shadow-md tracking-wider">
                9:35 - 10:40
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">マイメッセージ</h3>
              <p class=" leading-relaxed font-medium">
                吃音にまつわる体験、思い、みんなに伝えたいことなどを自由に発表していただくプログラムです。<br>発表時間は1人あたり4分＋質疑応答（1～2つ）で、メッセージの内容は自由です。</p>
                <div style="height: 10px"></div>
                <p class=" leading-relaxed font-medium">
                <span class="text-orange-400">※希望者のみ先着順です。ご希望の方は、お申し込みフォームにて「マイメッセージを希望する」を選択してください。時間の制約により、「マイメッセージを希望する」を選択いただいてもご希望に添えない場合がございます。ご了承ください。</span>
              </p>
            </div>
          </div>
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(249,115,22,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/IMG_7704.JPG">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-orange-400 to-amber-500 rounded-full w-fit shadow-md tracking-wider">
                10:50 - 12:00
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">クイズ大会</h3>
              <p class=" leading-relaxed font-medium">
                チームで対抗してポイントを競い合います！
              </p>
            </div>
          </div>
    
          <div class="bg-white rounded-[1.5rem] shadow-[0_10px_40px_-10px_rgba(0,0,0,0.08)] border border-gray-100 overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_12px_24px_-10px_rgba(249,115,22,0.15)] flex flex-col">
            <div class="h-54 w-full bg-gray-100 flex items-center justify-center text-gray-400 relative">
              <img src="/images/westu.png">
              
              <div class="absolute inset-0 bg-black opacity-10"></div>
            </div>
            <div class="p-8 flex flex-col flex-grow">
              <span class="inline-flex items-center justify-center px-4 py-1 mb-4 text-sm font-bold text-white bg-gradient-to-r from-orange-400 to-amber-500 rounded-full w-fit shadow-md tracking-wider">
                12:00 - 12:20
              </span>
              <h3 class="zen-kaku-gothic-new text-2xl font-bold text-gray-800 mb-3">閉会式</h3>
              <p class=" leading-relaxed font-medium">
                楽しかった2日間もこれでおしまい。<br>最後までみんなと同じときを過ごしましょう。
              </p>
            </div>
          </div>
    
        </div>
        <p class="text-sm blog-width lg:text-[17px] ml-1"
          style="letter-spacing: .025em; line-height: 2.05;">
          <br>
          ※タイムテーブルの詳細は<a class="hover-color" href="/timetable/">こちら</a></p>
      </div>
    </div>
      <div style="height: 100px"></div>
    

      
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      
      // スライダーをセットアップする関数
      function setupSlider(sliderId, prevBtnId, nextBtnId) {
        const slider = document.getElementById(sliderId);
        const prevBtn = document.getElementById(prevBtnId);
        const nextBtn = document.getElementById(nextBtnId);
  
        if (!slider || !prevBtn || !nextBtn) return;
  
        // スクロール量を計算する関数
        const getScrollAmount = () => {
          // スライダー内の最初のカードを取得
          const card = slider.querySelector('.slider-card') as HTMLElement;
          if (!card) return 480; // カードが見つからない場合のフォールバック
  
          // カードの幅を取得
          const cardWidth = card.offsetWidth;
          
          // Tailwindの gap-6 は 1.5rem = 24px
          const gap = 24; 
  
          // 「カードの幅 + 隙間」を移動量とする
          return cardWidth + gap;
        };
  
        nextBtn.addEventListener('click', () => {
          const scrollAmount = getScrollAmount();
          slider.scrollBy({ left: scrollAmount, behavior: 'smooth' });
        });
  
        prevBtn.addEventListener('click', () => {
          const scrollAmount = getScrollAmount();
          slider.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
        });
      }
  
      // 1日目のセットアップ
      setupSlider('sliderContainer', 'prevBtn', 'nextBtn');
  
      // 2日目のセットアップ
      setupSlider('sliderContainer2', 'prevBtn2', 'nextBtn2');
  
    });
  </script>
</Layout>
