---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お申し込み｜第8回うぃーすた全国交流会">
  <div class="margin-contents text-color zen-kaku-gothic-new" style="margin-bottom: 80px;">
    <div style="height: 10px;"></div>
    <div
      class="text-color margin-contents bg-white rounded-3xl shadow-md"
      style="padding: 30px; max-width: 900px; width: 100%;"
    >
    <span class="midashi">お申し込み</span>
    <div style="height: 20px;"></div>
    <div style="margin-left: 0.25rem !important; margin-right: 0.25rem !important;">
      <p>準備中です。</p>
    </div>
    </div>
  </div>
</Layout>