---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お申し込み｜第8回うぃーすた全国交流会">
  <div class="margin-contents text-color text-font" style="margin-bottom: 80px;">
    <div class="lg:h-6 max-lg:h-2"></div>
    <span class="midashi">お申し込み</span>
    <div style="height: 20px;"></div>
    <p>&emsp;準備中です。</p>
  </div>
</Layout>