---

---

<footer>
  <div class="flex justify-center items-center p-2 respt-f">
    <span class="flex items-center resp-pc-f font-normal"
      >Copyright &#169; 2024｜All rights reserved.&nbsp;&nbsp;／&nbsp;&nbsp;<a
        href="https://x.com/luetsrr"
        ><i
          class="ri-twitter-x-line hover-color"
          style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
        ></i></a
      ><a href="mailto:ymstar4160@gmail.com"
        ><i
          class="ri-mail-line hover-color"
          style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
        ></i></a
      >
      <a href="https://github.com/luetsrr"
        ><i
          class="ri-github-line hover-color"
          style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
        ></i></a
      >
    </span>
    <span class="flex items-center resp-sm-f font-normal">
      <div class="flex items-center justify-center">
        <a href="https://x.com/luetsrr"
          ><i
            class="ri-twitter-x-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
        ><a href="mailto:ymstar4160@gmail.com"
          ><i
            class="ri-mail-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
        >
        <a href="https://github.com/luetsrr"
          ><i
            class="ri-github-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
        >
      </div>
      <div style="height: 10px;"></div>
      <p>Copyright &#169; 2024</p>
      <p>All rights reserved.</p>
    </span>
  </div>
</footer>
