---

---

<footer class="border-t-[4px] border-red-200 footer text-color footer_bcolor zen-kaku-gothic-new relative">
  <div class="flex items-center justify-between h-[100px] ml-14 max-md:ml-8 mr-36"> <!-- フッター全体 -->

    <!-- 左側：SNSアイコン群 -->
    <div class="flex items-center space-x-6">
      <div class="flex items-center space-x-3">
        <a href="https://www.facebook.com/we.are.stutterer" target="_blank" rel="noopener noreferrer" class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center transform transition-transform duration-200 hover:scale-110">
          <img src="/images/Facebook_Logo_Primary.png" class="w-9" alt="Facebook">
        </a>
        <a href="https://x.com/westu__2026" target="_blank" rel="noopener noreferrer" class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center transform transition-transform duration-200 hover:scale-110">
          <i class="ri-twitter-x-line text-black text-[32px]"></i>
        </a>
        <a href="https://www.youtube.com/@westu_kansai" target="_blank" rel="noopener noreferrer" class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center transform transition-transform duration-200 hover:scale-110">
          <img src="/images/yt_icon_red_digital.png" class="w-9" alt="YouTube">
        </a>
      </div>
    </div>

    <!-- 右側：コピーライト + ボタン -->
    <div class="flex items-center space-x-10">
      <p class="text-sm text-right resp-pc-f">
        Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
      </p>

      
    </div>
    
    
  
    
  </div>
  <button id="backToTop" class="border-t-[4px] border-l-[4px] border-red-200 ml-0 back-to-top flex justify-center items-center bg-[#ffd8d8]">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="6 15 12 9 18 15"></polyline>
    </svg>
  </button>

  
</footer>

