---

---

<footer class="text-color footer_bcolor zen-kaku-gothic-new">
  <div class="flex-col resp-pc-f">
    <div style="height: 15px;"></div>
    <div class="flex justify-center items-center p-4">
      <!-- SNSテキスト -->
      <p class="text-xl mr-4 font-bold">OFFICIAL SNS</p>
    
      <!-- SNSアイコン -->
      <div class="flex justify-center items-center">
        <a href="https://www.facebook.com/we.are.stutterer">
          <img src="/images/Facebook_Logo_Primary.png" style="width: 36px; margin-left:0.5rem; margin-right:0.25rem; margin-bottom:0.1rem;">
        </a>
        <a href="https://x.com/westu__2026">
          <i class="ri-twitter-x-line hover-color" style="font-size: 32px; margin-left:0.75rem;"></i>
        </a>
        <a href="https://www.youtube.com/@westu_kansai">
          <img src="/images/yt_icon_red_digital.png" style="width: 54px; margin-left:0.5rem; margin-bottom:0.1rem;">
        </a>
      </div>
    
      <!-- 縦棒 -->
      <span class="inline-block border-l border-gray-400 h-10 mr-8 ml-6"></span>
    
      <!-- 画像リンク -->
      <a href="https://we-are-stutt.jimdofree.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/1453810670.jpeg" style="height: 50px; width: auto;" alt="公式サイト">
      </a>
    </div>
    

      <!-- コピーライト -->
    <p class="font-body text-sm text-center mt-4">
      Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
    </p>
    <div style="height: 40px;"></div>
  </div>
        <!-- <a href="https://github.com/luetsrr"
          ><i
            class="ri-github-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
  > -->
  <div class="flex-col resp-xl-f">
    <div style="height: 10px;"></div>
    <div class="flex justify-center items-center p-4">
      <!-- SNSテキスト -->
      <p class="text-lg mr-4 font-bold">OFFICIAL SNS</p>
    
      <!-- SNSアイコン -->
      <div class="flex justify-center items-center">
        <a href="https://www.facebook.com/we.are.stutterer">
          <img src="/images/Facebook_Logo_Primary.png" style="width: 36px; margin-left:0.5rem; margin-right:0.25rem; margin-bottom:0.1rem;">
        </a>
        <a href="https://x.com/westu__2026">
          <i class="ri-twitter-x-line hover-color" style="font-size: 32px; margin-left:0.75rem;"></i>
        </a>
        <a href="https://www.youtube.com/@westu_kansai">
          <img src="/images/yt_icon_red_digital.png" style="width: 54px; margin-left:0.5rem; margin-bottom:0.1rem;">
        </a>
      </div>
    
      <!-- 縦棒 -->
      <span class="inline-block border-l border-gray-400 h-8 mr-8 ml-6"></span>
    
      <!-- 画像リンク -->
      <a href="https://we-are-stutt.jimdofree.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/1453810670.jpeg" style="height: 40px; width: auto;" alt="公式サイト">
      </a>
    </div>
    
    <div style="height: 8px;"></div>
      <!-- コピーライト -->
    <p class="font-body text-xs text-center">
      Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
    </p>
    <div style="height: 40px;"></div>
  </div>

  <div class="flex flex-col items-center p-4 space-y-2 resp-sm-f">
    <div style="height: 5px;"></div>
    <!-- 1段目：SNSテキスト -->
    <div>
      <p class="text-xl text-center font-bold">OFFICIAL SNS</p>
    </div>

    <!-- 2段目：SNSアイコン -->
    <div class="flex justify-center items-center">
      <a href="https://www.facebook.com/we.are.stutterer">
        <img src="/images/Facebook_Logo_Primary.png" style="width: 36px; margin-left:0.5rem; margin-right:0.25rem; margin-bottom:0.1rem;">
      </a>
      <a href="https://x.com/westu__2026">
        <i class="ri-twitter-x-line hover-color" style="font-size: 32px; margin-left:0.75rem;"></i>
      </a>
      <a href="https://www.youtube.com/@westu_kansai">
        <img src="/images/yt_icon_red_digital.png" style="width: 54px; margin-left:0.5rem; margin-bottom:0.1rem;">
      </a>
    </div>

    <div style="height: 3px;"></div>
    <!-- 3段目：画像リンク -->
    <div>
      <a href="https://we-are-stutt.jimdofree.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/1453810670.jpeg" style="height: 40px; width: auto;" alt="公式サイト">
      </a>
    </div>
    <div style="height: 5px;"></div>
    <!-- 4段目：コピーライト -->
    <div>
      <p class="font-body text-center" style="font-size: 10px;">
        Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
      </p>
    </div>
    <div style="height: 8px;"></div>
  </div>
  
</footer>
