---

---

<footer class="text-color footer_bcolor zen-kaku-gothic-new">
  <div class="flex-col resp-pc-f">
    <div style="height: 15px;"></div>
    <div class="flex justify-center items-center p-4">
      <!-- SNSテキスト -->
      <p class="text-xl mr-5 font-bold">OFFICIAL SNS</p>
    
      <!-- SNSアイコン -->
      <div class="flex justify-center items-center space-x-3">
        <a href="https://www.facebook.com/we.are.stutterer" target="_blank" rel="noopener noreferrer"
           class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
          <img src="/images/Facebook_Logo_Primary.png" class="w-9" alt="Facebook">
        </a>
      
        <a href="https://x.com/westu__2026" target="_blank" rel="noopener noreferrer"
           class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
          <i class="ri-twitter-x-line text-black text-3xl"></i>
        </a>
      
        <a href="https://www.youtube.com/@westu_kansai" target="_blank" rel="noopener noreferrer"
           class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
          <img src="/images/yt_icon_red_digital.png" class="w-11" alt="YouTube">
        </a>
      </div>
      
    
      <!-- 縦棒 -->
      <span class="inline-block border-l border-black h-10 mr-8 ml-6"></span>
    
      <!-- 画像リンク -->
      <a href="https://we-are-stutt.jimdofree.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/1453810670.jpeg" style="height: 50px; width: auto;" alt="公式サイト">
      </a>
      <a href="https://chukosei-tsudoi.my.canva.site" target="_blank" rel="noopener noreferrer">
        <div class="Makinas-4-Flat card-box flex flex-col items-center leading-none" style="margin-top: 0.25rem; margin-left: 1.5rem;">
          <span class="text-start" style="font-size: 16px; margin-left: 0.1rem;">全国言友会</span>
          <span class="text-lg  text-start">吃音のある中高生交流会</span>
        </div>
      </a>
    </div>
    

      <!-- コピーライト -->
    <p class="font-body text-sm text-center mt-4">
      Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
    </p>
    <div style="height: 40px;"></div>
  </div>
        <!-- <a href="https://github.com/luetsrr"
          ><i
            class="ri-github-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
  > -->
  <div class="flex-col resp-xl-f">
    <div style="height: 10px;"></div>
    <div class="flex justify-center items-center p-4">
      <!-- SNSテキスト -->
      <p class="text-lg mr-4 font-bold">OFFICIAL SNS</p>
    
      <!-- SNSアイコン -->
      <div class="flex justify-center items-center space-x-3">
        <a href="https://www.facebook.com/we.are.stutterer" target="_blank" rel="noopener noreferrer"
           class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
          <img src="/images/Facebook_Logo_Primary.png" class="w-9" alt="Facebook">
        </a>
      
        <a href="https://x.com/westu__2026" target="_blank" rel="noopener noreferrer"
           class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
          <i class="ri-twitter-x-line text-black text-3xl"></i>
        </a>
      
        <a href="https://www.youtube.com/@westu_kansai" target="_blank" rel="noopener noreferrer"
           class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
          <img src="/images/yt_icon_red_digital.png" class="w-11" alt="YouTube">
        </a>
      </div>
    
      <!-- 縦棒 -->
      <span class="inline-block border-l border-black h-8 mr-8 ml-6"></span>
    
      <!-- 画像リンク -->
      <a href="https://we-are-stutt.jimdofree.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/1453810670.jpeg" style="height: 40px; width: auto;" alt="公式サイト">
      </a>
      <a href="https://chukosei-tsudoi.my.canva.site" target="_blank" rel="noopener noreferrer">
        <div class="Makinas-4-Flat card-box flex flex-col items-center leading-none" style="margin-top: 0.25rem; margin-left: 1.5rem;">
          <span class="text-start" style="font-size: 16px; margin-left: 0.1rem;">全国言友会</span>
          <span class="text-lg  text-start">吃音のある中高生交流会</span>
        </div>
      </a>
    </div>
    
    <div style="height: 8px;"></div>
      <!-- コピーライト -->
    <p class="font-body text-xs text-center">
      Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
    </p>
    <div style="height: 40px;"></div>
  </div>

  <div class="flex flex-col items-center p-4 space-y-2 resp-sm-f">
    <div style="height: 5px;"></div>
    <!-- 1段目：SNSテキスト -->
    <div>
      <p class="text-xl text-center font-bold">OFFICIAL SNS</p>
    </div>

    <!-- 2段目：SNSアイコン -->
    <div class="flex justify-center items-center space-x-3">
      <a href="https://www.facebook.com/we.are.stutterer" target="_blank" rel="noopener noreferrer"
         class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
        <img src="/images/Facebook_Logo_Primary.png" class="w-9" alt="Facebook">
      </a>
    
      <a href="https://x.com/westu__2026" target="_blank" rel="noopener noreferrer"
         class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
        <i class="ri-twitter-x-line text-black text-3xl"></i>
      </a>
    
      <a href="https://www.youtube.com/@westu_kansai" target="_blank" rel="noopener noreferrer"
         class="header_bcolor rounded-full w-12 h-12 flex justify-center items-center">
        <img src="/images/yt_icon_red_digital.png" class="w-11" alt="YouTube">
      </a>
    </div>

    <div style="height: 15px;"></div>
    <!-- 3段目：画像リンク -->
    <div>
      <a href="https://we-are-stutt.jimdofree.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/1453810670.jpeg" style="height: 40px; width: auto;" alt="公式サイト">
      </a>
    </div>
    <div style="height: 5px;"></div>
    <a href="https://chukosei-tsudoi.my.canva.site" target="_blank" rel="noopener noreferrer">
      <div class="Makinas-4-Flat card-box flex flex-col items-center leading-none" style="margin-top: 0.25rem;">
        <span class="text-start" style="font-size: 16px; margin-left: 0.1rem;">全国言友会</span>
        <span class="text-lg  text-start">吃音のある中高生交流会</span>
      </div>
    </a>
    <div style="height: 3px;"></div>
    <!-- 4段目：コピーライト -->
    <div>
      <p class="font-body text-center" style="font-size: 10px;">
        Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
      </p>
    </div>
    <div style="height: 8px;"></div>
  </div>
  
</footer>
