---

---

<footer class="text-color kaisei-opti-regular footer_bcolor">
  <div class="flex justify-center p-2 respt-f">
    <div style="height: 10px;"></div>
    <div class="flex flex-col items-start resp-pc-f">
      <p class="text-lg mt-2">
        各種公式アカウント
      </p>
      <div style="height: 6px;"></div>
      <!-- アイコン行 -->
      <div class="flex items-center justify-center space-x-2">
        <a href="https://x.com/westu__2025">
          <i class="ri-twitter-x-line hover-color" style="font-size: 28px;"></i>
        </a>
        <a href="https://www.youtube.com/@westu_kansai">
          <img src="/images/yt_icon_red_digital.png" style="width: 40px;">
        </a>
        <a href="mailto:westu.zenkoku.2026@gmail.com">
          <i class="ri-mail-line hover-color" style="font-size: 28px;"></i>
        </a>
        <!-- <a href="https://github.com/luetsrr">
          <i class="ri-github-line hover-color" style="font-size: 26px;"></i>
        </a> -->
      </div>
    
      <!-- コピーライト行 -->
      <p class="font-body text-sm mt-2">
        Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
      </p>
      <div style="height: 10px;"></div>
    </div>
        <!-- <a href="https://github.com/luetsrr"
          ><i
            class="ri-github-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
  > -->
  <div class="flex flex-col items-start resp-xl-f">
    <p class="text-lg mt-2">
      各種公式アカウント
    </p>
    <div style="height: 6px;"></div>
    <!-- アイコン行 -->
    <div class="flex items-center justify-start space-x-2">
      <a href="https://x.com/westu__2025">
        <i class="ri-twitter-x-line hover-color" style="font-size: 28px;"></i>
      </a>
      <a href="https://www.youtube.com/@westu_kansai">
        <img src="/images/yt_icon_red_digital.png" style="width: 40px;">
      </a>
      <a href="mailto:westu.zenkoku.2026@gmail.com">
        <i class="ri-mail-line hover-color" style="font-size: 28px;"></i>
      </a>
      <!-- <a href="https://github.com/luetsrr">
        <i class="ri-github-line hover-color" style="font-size: 26px;"></i>
      </a> -->
    </div>
  
    <!-- コピーライト行 -->
    <p class="font-body text-base mt-2">
      Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
    </p>
    <div style="height: 10px;"></div>
  </div>
  <div class="flex flex-col items-start resp-sm-f">
    <p class="text-lg mt-2">
      各種公式アカウント
    </p>
    <div style="height: 4px;"></div>
    <!-- アイコン行 -->
    <div class="flex items-center justify-start space-x-2">
      <a href="https://x.com/westu__2025">
        <i class="ri-twitter-x-line hover-color" style="font-size: 30px;"></i>
      </a>
      <a href="https://www.youtube.com/@westu_kansai">
        <img src="/images/yt_icon_red_digital.png" style="width: 42px;">
      </a>
      <a href="mailto:westu.zenkoku.2026@gmail.com">
        <i class="ri-mail-line hover-color" style="font-size: 30px;"></i>
      </a>
      <!-- <a href="https://github.com/luetsrr">
        <i class="ri-github-line hover-color" style="font-size: 26px;"></i>
      </a> -->
    </div>
  
    <!-- コピーライト行 -->
    <p class="font-body text-xs mt-2" style="font-size: 10px;">
      Copyright &#169; 2025 うぃーすた全国交流会実行委員会 All rights reserved.
    </p>
    <div style="height: 10px;"></div>
  </div>
  </div>
</footer>
