---

---

<header class="kaisei-opti-regular position">
  <div class="mx-auto flex flex-wrap p-2 respt-h flex-row items-center header_bcolor">
    <a class="flex flex-row items-center text-gray-900 mb-0">
      <img src='/images/IMG_4067.PNG' alt="" class="w-10 h-10 mr-3" style="margin-left: 0.5rem;"/>
      <a href="/">
        <div class="flex flex-col resp-pc-f">
          <span class="text-lg font-bold header_tcolor">第8回</span>
          <span class="text-xl font-bold header_tcolor">うぃーすた全国交流会</span>
        </div>
      </a>
      <a href="/">
        <div class="flex flex-col resp-xl-g">
          <span class="text-base font-bold header_tcolor">第8回</span>
          <span class="text-lg font-bold header_tcolor">うぃーすた全国交流会</span>
        </div>
      </a>
    </a>

    <script>
      const burger = document.querySelector("#burger");
      const close = document.querySelector("#close");
      const menu = document.querySelector("#menu");

      if (burger) {
        burger.addEventListener("click", () => {
          burger?.classList.toggle("is-active");
          close?.classList.toggle("is-active");
          menu?.classList.toggle("is-active");
        });
      }

      if (close) {
        close.addEventListener("click", () => {
          burger?.classList.remove("is-active");
          close?.classList.remove("is-active");
          menu?.classList.remove("is-active");
        });
      }
    </script>

    <nav class="ml-auto flex flex-wrap items-center text-base justify-center back-blur">
      <div class="menu_header header_tcolor">
        <a
          class="mr-5 hover-color font-medium text-lg"
          style="padding-right: 5px; padding-left: 5px;"
          href="/about/">うぃーすた全国交流会とは</a
        >
        <a
          class="mr-5 hover-color font-medium text-lg"
          style="padding-right: 5px; padding-left: 5px;"
          href="/news/">お知らせ</a
        >
        <a
          class="mr-5 hover-color font-medium text-lg"
          style="padding-right: 5px; padding-left: 5px;"
          href="/activities/">活動紹介</a
        >
        <a
          class="mr-5 hover-color font-medium text-lg"
          style="padding-right: 5px; padding-left: 5px;"
          href="/achievements/">活動実績</a
        >
        <a
          class="mr-5 hover-color font-medium text-lg"
          style="padding-right: 5px; padding-left: 5px;"
          href="/posts/1">ブログ</a
        >
        
        <a
          class="mr-5 hover-color font-medium text-lg"
          style="padding-right: 5px; padding-left: 5px;"
          href="/contact/">お問い合わせ</a
        >
        
      </div>
      <div class="del" style="width: 20px;"></div>
    <button id="burger" class="burger mr-1.5 resp-pc-g">
      <span></span>
      <span></span>
      <span></span>
    </button>
    </nav>
  </div>
  <nav class="menu header_tcolor header_bcolor back-blur" id="menu">
    <a class="m-4 hover-color font-medium text-base" href="/about/">うぃーすた全国交流会とは</a>
    <a class="m-4 hover-color font-medium text-base" href="/news/">お知らせ</a>
    <a class="m-4 hover-color font-medium text-base" href="/activities/">活動紹介</a>
    <a class="m-4 hover-color font-medium text-base" href="/achievements/">活動実績</a>
    <a class="m-4 hover-color font-medium text-base" href="/posts/1">ブログ</a>
    <a class="m-4 hover-color font-medium text-base" href="/contact/">お問い合わせ</a>
    <div style="height: 10px;"></div>
  </nav>
</header>
