---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "remixicon/fonts/remixicon.css";
import "../styles/output.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../styles/output.css" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <title>{title}</title>
    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body class="margin-body flex flex-col min-h-screen" id="page-top">
    <Header />
    <div class="divider-horizontal"></div>
    <main class="grow">
      <slot />
    </main>
    <div class="divider-horizontal"></div>
    <Footer />
  </body>
</html>
